body {
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 0; /* espaçamento externo da pagina */
    padding: 0; /* espaçamento intertno da pagina*/
    background-color: #f4f4f4; /* texto centralizado*/
    align-items: center;
    justify-content: center;
    height: 100vh;

}

header {
    background-color: #ffb401;
    color: white;
    padding: 15px 0px; /* 15px (espaçamento interno acima e abaixo) e 0px (espaçamento direita e esquerda) */
    font-size: 24px;
    text-align: center;
}

nav {
    background-color: #0060f5; /* Cor de fundo do menu */
    padding: 5px;
    text-align: center;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav a { /*configura os links do menu*/
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    padding: 12px 20px; /* Espaçamento dentro dos links */
    margin: 0 15px; /* Espaçamento entre os links */
    font-size: 20px;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Transições suaves */
}

nav a:hover {
    background-color: #ffb401; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
    transform: scale(1.1); /* Aumenta um pouco o tamanho do link */
}

nav a.active {
    background-color: #FFC107; /* Cor de fundo para o link ativo */
    color: white;
}

@media (max-width: 768px) {
    nav {
        padding: 10px 0;
    }

    nav a {
        font-size: 16px;
        padding: 10px 15px;
    }
}

img {
    width: 100px;
    height: auto;
    margin-right: 10px; /* espaçamento externo à direita */
    border-radius: 10px;
}

.links-menu {
    gap: 60px;  /*distancia entre os itens do menu*/
    display: flex;
}

.container {
    width: 80%; /* largura de 80% da largura da página */
    background: white;
    border-radius: 10px;
    /* espaçamento externo 20px acima e abaixo */
    /* espaçamento externo auto à direita e à esquerda */
    margin: 20px auto;
    padding: 20px; /* espaçamento interno */ 
    font-weight: normal;
}

.tabela {
    width: 80%;
    border-collapse: collapse; /* Remove o espaço entre as bordas das células */
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    background-color: #fff;
    
}

th, td {
    padding: 12px 15px; /* Espaçamento dentro das células */
    text-align: left;
    border: 1px solid #ddd; /* Linha de borda nas colunas */
}

th {
    background-color: blue; /* Cor de fundo do cabeçalho */
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor alternada para as linhas */
}

tr:hover {
    background-color: #ddd; /* Cor de destaque quando passar o mouse */
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.caixa-texto {
    width: 80%;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    text-align: left;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

ol li{
    padding-bottom: 10px;
}

.azul{
    background-color: #0060f5;
    font-weight: bold; 
    color: white;
}

.laranja {
    background-color: orange;
    font-weight: bold; 
    color: white;
}

.preto {
    background-color: black;
    color: white;
    font-weight: bold; 
}

.roxo {
    background-color: purple;
    font-weight: bold; 
    color: white;
}

.verde {
    background-color: green;
    font-weight: bold; 
    color: white;
}

.vermelho {
    background-color: red;
    font-weight: bold; 
    color: white;
}

.campos {
    margin-bottom: 20px;
}

p {
    text-indent: 10%; 
    font-size: larger;
}
