body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    background-color: #0060f5;
}
.container {
    background-color: #ffb401;
    width: min(80%, 360px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 8px 10px white;
    text-align: center;
}
h1 {
  padding: 5px;
  color: white;
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: default;
}


p {
    border-radius: 5px;
    color: white;
    background: #0060f5;
    padding: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: default;
}
button,
.botao {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    padding: 9px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-family: inherit;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
button:hover,
.botao:hover {
    background-color: #0060f5;
    padding: 9px;
    color: white;
    cursor: pointer;
}
img {
    width: min(100%, 300px);
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: default;
}
h2 {
    color: white;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: default;
}
