
body {
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
}

header {
    background-color: #ffb401;
    color: white;
    padding: 15px 0px; /* 15px (espaçamento interno acima e abaixo) e 0px (espaçamento direita e esquerda) */
    font-size: 24px;
    text-align: center;
}

nav {
    background-color: #0060f5; /* Cor de fundo do menu */
    padding: 5px;
    text-align: center;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    z-index: 1;
}

nav a { /*configura os links do menu*/
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    padding: 10px 12px; /* Espaçamento dentro dos links */
    font-size: 17px;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Transições suaves */
}

nav a:hover {
    background-color: #ffb401; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
    transform: scale(1.1); /* Aumenta um pouco o tamanho do link */
}

nav a.active {
    background-color: #FFC107; /* Cor de fundo para o link ativo */
    color: white;
}

img {
    width: 100px;
    height: auto;
    margin-right: 10px; /* espaçamento externo à direita */
    border-radius: 10px;

}

.links-menu {
    gap: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 80%; /* largura de 80% da largura da página */
    max-width: 1100px;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    /* espaçamento externo 20px acima e abaixo */
    /* espaçamento externo auto à direita e à esquerda */
    margin: 20px auto;
    padding: 20px; /* espaçamento interno */ 
    font-weight: normal;
}

.tabela {
    width: 80%;
    border-collapse: collapse; /* Remove o espaço entre as bordas das células */
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    background-color: #fff;
    
}

th, td {
    padding: 12px 15px; /* Espaçamento dentro das células */
    text-align: left;
    border: 1px solid #ddd; /* Linha de borda nas colunas */
}

th {
    background-color: blue; /* Cor de fundo do cabeçalho */
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor alternada para as linhas */
}

tr:hover {
    background-color: #ddd; /* Cor de destaque quando passar o mouse */
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.caixa-texto {
    width: 80%;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    text-align: left;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

ol li{
    padding-bottom: 10px;
}

.azul{
    background-color: #0060f5;
    font-weight: bold; 
    color: white;
}

.laranja {
    background-color: orange;
    font-weight: bold; 
    color: white;
}

.preto {
    background-color: black;
    color: white;
    font-weight: bold; 
}

.roxo {
    background-color: purple;
    font-weight: bold; 
    color: white;
}

.verde {
    background-color: green;
    font-weight: bold; 
    color: white;
}

.vermelho {
    background-color: red;
    font-weight: bold; 
    color: white;
}

.campos {
    margin-bottom: 20px;
}

p {
    text-indent: 10%; 
    font-size: larger;
}

.titulo-principal {
    background-color: aquamarine;
    margin: 20px auto;
    padding: 12px;
    text-align: center;
}

.botao-card {
    background-color: aquamarine;
    border-radius: 10px;
    color: #000;
    padding: 20px;
    margin: 20px auto;
    width: 200px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.botao-card:hover {
    background-color: #ffb401;
}

@media (max-width: 760px) {
    nav {
        position: static;
        flex-direction: column-reverse;
    }

    nav img {
        margin: 5px auto;
    }

    .container,
    .tabela,
    .caixa-texto {
        width: 94%;
    }

    th,
    td {
        padding: 8px;
    }
}
